include ../comment/comment
include ../order-card/order-card
include ../info-box/info-box
include ../h3/h3
include ../bullet-list/bullet-list
include ../votes-list/votes-list

mixin room-details(options)
    main(class="room-details")
        section(class="room-details__images")
            article(class="room-details__images__main")
                div(style=`background-image: url('${options.mainImage}');`)
            article(class="room-details__images__sub")
                each imgPath in options.images
                    div(style=`background-image: url('${imgPath}');`)
        section(class="room-details__container")
            section(class="room-details__grid")
                article(class="room-details__info")
                    +h3({value: 'Сведения о номере', isDark: true})
                    +info-box({header: 'Комфорт', caption: 'Шумопоглощающие стены', imagePath: './images/smile.svg'})
                    +info-box({header: 'Удобство', caption: 'Окно в каждой из спален', imagePath: './images/building.svg'})
                    +info-box({header: 'Уют', caption: 'Номер оснащён камином', imagePath: './images/whatshot.svg'})
                article(class="room-details__votes")
                    +h3({value: 'Впечатления от номера', isDark: true})
                    img(src="./images/pie.png")
                    +votes-list
                article(class="room-details__comments")
                    +h3({value: 'Отзывы посетителей номера', isDark: true})
                    +comment({
                        name: 'Мурад Сарафанов',
                        avatarPath: './images/avatar.png',
                        time: '5 дней назад',
                        likes: 11,
                        id: 'like1',
                        checked: true,
                        message: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                    })
                    +comment({
                        name: 'Патрисия Стёклышкова',
                        avatarPath: './images/avatar2.png',
                        time: 'Неделю назад',
                        likes: 2,
                        id: 'like2',
                        checked: false,
                        message: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
                    })
                article(class="room-details__rules")
                    +h3({value: 'Правила', isDark: true})
                    +bullet-list([
                        'Нельзя с питомцами',
                        'Без вечеринок и мероприятий',
                        'Время прибытия — после 13:00, а выезд до 12:00'
                    ])
                article(class="room-details__cancel")
                    +h3({value: 'Отмена', isDark: true})
                    span Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            section(class="room-details__card")
                +order-card