@import "../variables";

.landing-page {
  height: 830px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &__caption {
    position: absolute;
    width: 300px;
    right: 140px;
    bottom: 20px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: $darkShade75;

    @media (max-width: $tablet) {
      position: static;
      display: grid;
      justify-self: center;
      width: auto;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      padding: 140px 20px;
    }
  }

  &__form {
    position: absolute;
    left: 140px;
    top: 140px;
    display: grid;
    justify-items: center;


    @media (max-width: $tablet) {
      position: static;
      margin-top: 20px;
    }
  }
}