@import "../variables";

.input-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  row-gap: 5px;
  height: fit-content;

  &__input {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__button {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('../../images/icons/arrow-forward.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    &:hover {
      background-color: $darkShade5;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
  }

  &__caption {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade50;
  }
}