@import "../variables";

div.pagination {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
}

.pagination > .pagination {
  display: grid;
  grid-auto-columns: 1fr;
  width: fit-content;
  padding: 0;
  margin: 0;
  column-gap: 3px;
  margin: 0 auto;
  grid-row: 1;

  &__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    text-align: center;
  }

  &__next {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

    position: relative;
    &:before {
      content: '';
      width: 40px;
      height: 40px;
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../images/icons/arrow-forward-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }

    & > a {
      text-indent: -99999px;
    }
  }

  &__prev {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

    position: relative;
    &:before {
      content: '';
      width: 40px;
      height: 40px;
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../images/icons/arrow-forward-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(180deg);
    }

    & > a {
      text-indent: -99999px;
    }
  }

  &__current {
    background-image: $purpleGradient;
    & > a {
      color: $white !important;
      font-weight: bold !important;
    }
  }

  & > li {

    grid-row: 1;
    display: flex;
    border-radius: 20px;
    height: 40px;



    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $darkShade50;

    & > a {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;

      color: $darkShade50;

      &:hover {
        background-color: $darkShade5;
      }
    }
  }
}