@import "../variables";

.ui-datepicker {
  background: $white;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $darkShade5;
  border-radius: 4px;

  &:empty {
    border: none;
  }

  &-other-month > a, &-other-month > span {
    color: $darkShade25 !important;
  }

  &-today {

    & a, span {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      font-weight: bold !important;
      color: $white !important;
    }
  }

  &-range {
    &-item {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    }

    &-start, &-end {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      border-radius: 20px 0 0 20px;

      & > a {
        background: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
        color: $white !important;
        font-weight: bold !important;
      }
    }

    &-end {
      border-radius: 0 20px 20px 0;
    }
  }



  &-calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & > tbody {
      display: grid;
      grid-auto-rows: 40px;
      box-sizing: border-box;
      padding: 0 19px 20px 19px;

      & a, span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-decoration: none;
        color: $darkShade50;
      }

      & > tr {
        display: grid;
        grid-template-columns: repeat(7, 40px);

        & > td {
          display: flex;
          align-items: center;
          justify-content: center;

          & > a {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            &:hover {
              background-color: $darkShade5;
              cursor: pointer;
            }
          }


        }
      }
    }

    & > thead {
      & span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-decoration: none;
        color: $purple;
      }

      & > tr {
        display: grid;
        grid-template-columns: repeat(7, 40px);
        padding: 0 19px 10px 19px;
      }

      & > th {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }
  }

  & .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  &-header {
    display: grid;
    grid-template-columns: 20px auto 20px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  &-prev {
    grid-column: 1;
    grid-row: 1;
    background-image: url('../../images/icons/arrow-back.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &-next {
    grid-column: 3;
    grid-row: 1;
    background-image: url('../../images/icons/arrow-forward.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &-title {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $darkShade100;
  }
}