@import "../variables";

.range-slider {
  height: 6px;
  background: $white;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 3px;

  &:hover {
    border: 1px solid $darkShade25;
  }

  & > .ui-slider {


    &-handle {
      width: 12px !important;
      height: 12px !important;
      box-sizing: border-box !important;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 2px solid $white;
      border-radius: 6px;
      outline: none;
    }

    &-range {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      //height: 12px !important;
    }
  }
}