.sign-in-up {
  background-image: url('../../images/login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;

  &__card {
    display: grid;
    justify-items: center;
  }
}