include ../common.blocks/find-room-card/find-room-card

doctype html
html(lang="")
    head
        link(rel="stylesheet", href="index.css")
    body
        div(class="logo")
        main(class="cards")
            +find-room-card




        script(src="bundle.js")