doctype html
html(lang="")
    head
        link(rel="stylesheet", href="index.css")
    body
        div(class="logo")
        main(class="form-elements")
            section
                div(class="input-container")
                    div(class="input-container__header")
                        span Text Field
                    div(class="input-container__caption")
                        span Default
                    input(class="input input-container__input" type="email" placeholder="Email")
                div(class="input-container")
                    div(class="input-container__header")
                        span Text Field
                    div(class="input-container__caption")
                        span Hover / Focus
                    input(class="input input-container__input" autofocus="true" type="text" placeholder="Email" value="This is pretty awesome")
                div(class="input-container")
                    div(class="input-container__header")
                        span Dropdown
                    div(class="input-container__caption")
                        span Default
                    div(class="select input-container__input" data-placeholder="Сколько людей")
                        span Option 1
                        span Option 2
                        span Option 3
                div(class="input-container")
                    div(class="input-container__header")
                        span Masked text field
                    div(class="input-container__caption")
                        span Default
                    input(readonly class="input input-date input-container__input" placeholder="ДД.ММ.ГГГГ")
                div(class="two-inputs-container")
                    div(class="input-container")
                        div(class="input-container__header")
                            span Date Dropdown
                        div(class="select input-container__input" data-placeholder="ДД.ММ.ГГГГ")
                            span 01.02.2019
                            span 02.02.2019
                            span 03.02.2019
                    div(class="input-container")
                        div(class="input-container__header")
                            span Date Dropdown
                        div(class="select input-container__input" data-placeholder="ДД.ММ.ГГГГ" data-selected=0)
                            span 01.02.2019
                            span 02.02.2019
                            span 03.02.2019
                div(class="input-container")
                    div(class="input-container__header")
                        span filter date dropdown
                    div(class="select input-container__input" data-placeholder="ДД.ММ.ГГГГ" data-selected=0)
                        span 19 авг - 23 авг
                        span 19 авг - 23 авг
                        span 19 авг - 23 авг
                div(class="input-container")
                    div(class="input-container__header")
                        span subscription text field
                    div(class="input-container__button")
                    input(class="input input-container__input" type="email" placeholder="Email")

            section

            section
            section
                div(class="input-container")
                    div(class="input-container__header")
                        span Dropdown
                    div(class="input-container__caption")
                        span Default
                    div(class="select input-container__input" data-isrich="true")
                        span(data-quantity="2") Спальни
                        span(data-quantity="2") Кровати
                        span Ванные
                        div(class="select__controls")
                            div(class="select__controls__clear") Очистить
                            div(class="select__controls__apply") Применить
                div(class="input-container")
                    div(class="input-container__header")
                        span Dropdown
                    div(class="input-container__caption")
                        span Expanded
                    div(class="select input-container__input" data-isrich="true" data-expanded="true")
                        span(data-quantity="2") Спальни
                        span(data-quantity="2") Кровати
                        span Ванные
                div(class="input-container")
                    div(class="input-container__header")
                        span Dropdown
                    div(class="input-container__caption")
                        span Expanded
                    div(class="select input-container__input" data-isrich="true")
                        span(data-quantity="2") Спальни
                        span(data-quantity="2") Кровати
                        span Ванные

            section
                div(class="input-container")
                    div(class="input-container__header")
                        span Date Dropdown
                    div(class="select input-container__input" data-placeholder="Сколько гостей" data-selected=0 data-expanded="true" data-isrich="true" data-istotal="true" data-total-val="Гостя")
                        span Взрослые
                        span Дети
                        span Младенцы
                        div(class="select__controls")
                            div(class="select__controls__apply") Применить
            section
                div(class="input-container")
                    div(class="input-container__header")
                        span Date Dropdown
                    div(class="select input-container__input" data-placeholder="Сколько гостей" data-selected=0 data-expanded="true" data-isrich="true" data-istotal="true" data-total-val="Гостя")
                        span(data-quantity="2") Взрослые
                        span(data-quantity="1") Дети
                        span Младенцы
                        div(class="select__controls")
                            div(class="select__controls__clear") Очистить
                            div(class="select__controls__apply") Применить
            section
                ul(class="expandable-list")
                    li(class="expandable-list__header")
                        span(class="expandable-list__title") expandable checkbox list
                    li
                        input(class="checkbox" type="checkbox" id="check1")
                        label(class="label" for="check1") Завтрак
                    li
                        input(class="checkbox" type="checkbox" id="check2")
                        label(class="label" for="check2") Завтрак 2
                    li
                        input(class="checkbox" type="checkbox" id="check3")
                        label(class="label" for="check3") Завтрак 3
                ul(class="expandable-list" data-expanded="true")
                    li(class="expandable-list__header")
                        span(class="expandable-list__title") expandable checkbox list
                    li
                        input(class="checkbox" type="checkbox" id="check4")
                        label(class="label" for="check4") Завтрак
                    li
                        input(checked class="checkbox" type="checkbox" id="check5")
                        label(class="label" for="check5") Письменный стол
                    li
                        input(checked class="checkbox" type="checkbox" id="check6")
                        label(class="label" for="check6") Стул для кормления
                    li
                        input(checked class="checkbox" type="checkbox" id="check7")
                        label(class="label" for="check7") Кроватка
                    li
                        input(class="checkbox" type="checkbox" id="check8")
                        label(class="label" for="check8") Телевизор
                    li
                        input(class="checkbox" type="checkbox" id="check9")
                        label(class="label" for="check9") Шампунь
                    li
                        input(class="checkbox" type="checkbox" id="check10")
                        label(class="label" for="check10") Телевизор
                    li
                        input(class="checkbox" type="checkbox" id="check11")
                        label(class="label" for="check11") Шампунь
            section
                h3(class="h3 h3--dark") rich Checkbox Buttons

                input(class="checkbox" type="checkbox" id="check12")
                label(class="label label--highlight" for="check12") Широкий коридор
                    span(class="label__caption") Ширина коридоров в номере не менее 91 см.

                input(class="checkbox" type="checkbox" id="check13")
                label(class="label label--highlight" for="check13") Помощник для инвалидов
                    span(class="label__caption") На 1 этаже вас встретит специалист  и проводит до номера.
            section
                h3(class="h3 h3--dark") bullet list
                ul(class="bullet-list")
                    li Нельзя с питомцами
                    li Без вечеринок и мероприятий
                    li Время прибытия — после 13:00, а выезд до 12:00
        script(src="bundle.js")