include ../common.blocks/nav-bar/nav-bar
include ../common.blocks/footer-with-nav/footer-with-nav
include ../common.blocks/footer-only-description/footer-only-description

doctype html
html(lang="")
    head
        link(rel="stylesheet", href="index.css")
        meta(name="viewport" content="width=device-width")
    body
        div(class="logo")
        main(class="headers-footers")
            +nav-bar({isLogged: false})
            +nav-bar({isLogged: true, userName: 'Cosmin Negoita'})
            //
            +footer-with-nav
            +footer-only-description