doctype html
html(lang="")
  head

  body
    a(href="./colorAndType.html") Color & Type
    br
    a(href="./formElements.html") Form Elements
    br
    a(href="./cards.html") Cards
    br
    a(href="./headersAndFooters.html") Headers & Footers
    br
    a(href="./landingPage.html") Landing Page
    br
    a(href="./searchRoom.html") Search Room
    br
    a(href="./roomDetails.html") Room Details
    br
    a(href="./login.html") Login
    br
    a(href="./register.html") Register