include ../common.blocks/sign-in-up/sign-in-up
include ../common.blocks/nav-bar/nav-bar
include ../common.blocks/footer-with-nav/footer-with-nav

doctype html
html(lang="")
    head
        link(rel="stylesheet", href="index.css")
        meta(name="viewport" content="width=device-width")
    body
        +nav-bar({
            isLogged: false,
            loginVal: 'войти',
            registerVal: 'зарегистрироваться',
            names: [
                {name: 'О нас'},
                {name: 'Услуги', isExpandable: true},
                {name: 'Вакансии'},
                {name: 'Новости'},
                {name: 'Соглашения', isExpandable: true}
            ]
        })

        +sign-in-up(false)

        +footer-with-nav({
            description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
            copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
            form: {
                header: 'Подписка',
                caption: 'Получайте специальные предложения и новости сервиса',
                placeholder: 'Email'
            },
            links: [
                {
                    header: 'навигация',
                    links: [
                        'О нас',
                        'Новости',
                        'Служба поддержки',
                        'Услуги',
                    ]
                },
                {
                    header: 'о нас',
                    links: [
                        'О сервисе',
                        'Наша команда',
                        'Вакансии',
                        'Инвесторы',
                    ]
                },
                {
                    header: 'Служба поддержки',
                    links: [
                        'Соглашения',
                        'Сообщества',
                        'Связь с нами',
                    ]
                },
            ]
        })

        script(src="bundle.js")