include ../h3/h3
include ../input-container/input-container

mixin footer-with-nav
    footer(class="footer-with-nav")
        div(class="footer-with-nav__container")
            div(class="footer-with-nav__description")
                div(class="footer-with-nav__description__logo")
                    div(class="footer-with-nav__description__logo__image")
                    div(class="footer-with-nav__description__logo__title")
                span(class="footer-with-nav__description__text") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            div(class="footer-with-nav__navigation")
                nav(class="footer-with-nav__navigation__block")
                    span(class="footer-with-nav__navigation__header") Navigation
                    a(class="footer-with-nav__navigation__item" href="#") About Us
                    a(class="footer-with-nav__navigation__item" href="#") News
                    a(class="footer-with-nav__navigation__item" href="#") Support
                    a(class="footer-with-nav__navigation__item" href="#") Products
                nav(class="footer-with-nav__navigation__block")
                    span(class="footer-with-nav__navigation__header") ABOUT&nbsp;US
                    a(class="footer-with-nav__navigation__item" href="#") Who&nbsp;we&nbsp;are
                    a(class="footer-with-nav__navigation__item" href="#") Our&nbsp;team
                    a(class="footer-with-nav__navigation__item" href="#") Careers
                    a(class="footer-with-nav__navigation__item" href="#") Investors
                nav(class="footer-with-nav__navigation__block")
                    span(class="footer-with-nav__navigation__header") Support
                    a(class="footer-with-nav__navigation__item" href="#") Documentation
                    a(class="footer-with-nav__navigation__item" href="#") Community
                    a(class="footer-with-nav__navigation__item" href="#") Get in Touch

            div(class="footer-with-nav__form")
                +h3({isDark: true, value: 'Subscribe to our newsletter'})
                span Receive our latest news and promotions in your inbox!
                +input-container({isButton: true})(placeholder="Your email address")
        div(class="footer-with-nav__footer")
            div(class="footer-with-nav__footer__copyright") Copyright © 2018 Toxin UI Kit. All rights reserved.
            div(class="footer-with-nav__footer__networks")
                img(src="./images/icons/twitter.svg")
                img(src="./images/icons/facebook.svg")
                img(src="./images/icons/instagram.svg")
