@import "../variables";

.footer-with-nav {
  background: $white;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;

  padding: 0 140px;

  @media (max-width: $tablet) {
    padding: 0 40px;
  }

  &__footer {
    height: 70px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    align-items: center;

    @media (max-width: $mobile) {
      height: auto;
      grid-auto-flow: row;
      grid-template-columns: auto;
      text-align: center;
      justify-items: center;
      row-gap: 10px;
      padding: 20px 0;
    }

    &__copyright {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $darkShade75;
    }

    &__networks {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 20px;
      width: fit-content;
    }
  }


  &__navigation {
    display: grid;
    grid-auto-flow: column;
    column-gap: 120px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
    color: $darkShade50;

    @media (max-width: $laptop-l) {
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-auto-rows: auto;
      row-gap: 20px;
      column-gap: 10px;
      justify-self: unset;
    }

    &__header {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $darkShade100;
    }

    &__block {
      display: grid;
      grid-auto-flow: row;
      row-gap: 20px;
      height: fit-content;
    }

    &__item {
      text-decoration: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $darkShade50;
    }
  }

  &__form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
  }

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 260px 1fr 260px;
    align-items: start;
    box-sizing: border-box;
    column-gap: 40px;
    border-bottom: 1px solid $darkShade10;
    padding: 110px 0;

    @media (max-width: $laptop-l) {
      grid-auto-flow: unset;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

      row-gap: 30px;
      padding: 20px 0;
    }
  }

  &__description {
    display: grid;
    height: fit-content;
    grid-auto-flow: row;
    row-gap: 20px;
    width: fit-content;

    &__logo {
      display: grid;
      grid-auto-flow: column;
      width: fit-content;
      grid-auto-columns: auto;
      align-items: center;

      &__image {
        height: 40px;
        width: 40px;

        background-image: url('../../images/icons/logo-colored.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }

      &__title {
        height: 20px;
        width: 60px;

        margin-left: 10px;

        background-image: url('../../images/icons/logo-text.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}