@import "variables";

.button {
  width: fit-content;
  padding: 0 23px;
  height: 44px;
  background-image: $purpleGradient;
  box-sizing: border-box;

  border-radius: 22px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;


  outline: none;
  border: none;

  color: $white;
  position: relative;

  &--submit {
    width: auto;
    padding: 0;

    &:after {
      content: '';
      width: 44px;
      height: 44px;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url('../../images/icons/arrow-forward-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &:active {
    background-image: $purpleGradient05;
  }

  &--empty {
    background-image: linear-gradient(
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0)), $purpleGradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $white inset;
    border: 2px solid transparent;
    color: $purple;

    &:active {
      background-image: linear-gradient(
                      rgba(255, 255, 255, 0),
                      rgba(255, 255, 255, 0)), $purpleGradient05;
    }
  }
}