@import "variables";

.like-button {
  display: none;

  & + label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    color: $darkShade25;

    display: inline-block;
    position: static;
    border: 1px solid $darkShade25;
    border-radius: 10px;
    width: 40px;
    height: 20px;

    margin-right: 10px;
    position: relative;



    &:after {
      content: '';
      width: 40px;
      height: 20px;
      position: absolute;
      left: -1px;
      background-image: url('../../images/icons/heart-empty.svg');
      background-repeat: no-repeat;
      background-position: 5px center;
    }

    &:before {
      content: '';
      width: 40px;
      height: 20px;
      position: absolute;
      left: -1px;
      background-repeat: no-repeat;
      background-position: 5px center;
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }

  &:checked + label {
    border: 1px solid transparent;
    box-shadow: 2px 1000px 1px $white inset;
    background-image: linear-gradient(
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0)), $purpleGradient;
    color: $purple;

    &:after {
      background-image: url('../../images/icons/heart.svg');
    }
  }
}