@import "variables";

.rate-button + .br-widget {
  display: flex;

  & > a {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 4px;

    background-image: url('../../images/icons/star-empty.svg');
  }

  & > .br-current-rating {
    display: none;
  }

  .br-selected, .br-active {
    background-image: url('../../images/icons/star.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}