@import "variables";

.toggle {
  display: none;

  & + label {
    position: relative;
    left: 50px;
    margin-right: 50px;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: -50px;
      top: 0;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid $darkShade25;
      grid-row: 1;
      box-sizing: border-box;

    }

    &:after {
      content: '';
      position: absolute;
      left: -50px;
      top: 0;
      width: 40px;
      height: 20px;
      background-image: url('../../images/icons/dot-gray.svg');
      background-repeat: no-repeat;
      background-position: 5px calc(100% - 4px);

      transition: background-position 0.5s;
    }
  }

  &:checked + label {
    &:before {
      border: 1px solid transparent;
      box-shadow: 2px 1000px 1px $white inset;
      background-image: linear-gradient(
                      rgba(255, 255, 255, 0),
                      rgba(255, 255, 255, 0)), $purpleGradient;
    }

    &:after {

      background-image: url('../../images/icons/dot.svg');
      background-repeat: no-repeat;
      background-position: 23px center;
    }
  }
}