mixin rich-checkbox(options)
    -
        let id = options.id !== undefined ? options.id : ''
        let value = options.value !== undefined ? options.value : ''
        let caption = options.caption !== undefined ? options.caption : ''
        let isChecked = !!options.isChecked

    input(class="checkbox" type="checkbox" id=id checked=isChecked)
    label(class="label label--highlight" for=id)= value
        span(class="label__caption")= caption