mixin votes-list
    ul(class="votes-list")
        li(class="votes-list__4") Великолепно
        li(class="votes-list__3") Хорошо
        li(class="votes-list__2") Удовлетворительно
        li(class="votes-list__1") Разочарован