include ../button/button

mixin nav-bar(options)
    header(class="nav-bar")
        div(class="nav-bar__container")
            div(class="nav-bar__logo")
                div(class="nav-bar__logo__image")
                div(class="nav-bar__logo__title")
            nav(class="nav-bar__navigation")
                each val in options.names
                    +link(val)
            if !options.isLogged
                div(class="nav-bar__login")
                    +button(options.loginVal)(class="button--empty")
                    +button(options.registerVal)
            else
                div(class="nav-bar__logged")
                    span(class="nav-bar__username")= options.userName

mixin link(options)
    -
        let subClasses = '';
        if (options.isExpandable)
            subClasses += ' nav-bar__navigation__item--expandable'
        if (options.isActive)
            subClasses += ' nav-bar__navigation__item--active'
    a(class="nav-bar__navigation__item " + subClasses href="#")= options.name