@import "../variables";

.nav-bar {
  max-width: 100%;
  background: $white;
  box-shadow: 0 10px 20px $darkShade5;
  height: fit-content;

  padding: 0 140px;

  @media (max-width: $laptop-l) {
    padding: 0 40px;
  }

  @media (min-width: $mobile) and (max-width: $tablet){
    padding: 0 20px;
  }




  &__container {
    height: 70px;
    max-width: 100%;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    box-sizing: border-box;
    column-gap: 20px;

    @media (max-width: $tablet) {
      height: auto;
      padding: 20px 0;
      grid-template-columns: auto;
    }
  }

  &__navigation {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    justify-self: flex-end;
    column-gap: 10px;
    height: 50%;

    @media (max-width: $tablet) {
      display: none;
    }

    @media (max-width: $laptop) {
      height: 80%;
      grid-auto-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 10px;
    }

    &__item {
      text-decoration: none;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $darkShade50;

      padding: 0 10px;
      width: fit-content;

      display: flex;
      align-items: center;

      &--expandable {
        position: relative;
        padding-right: 30px;

        &:after {
          content: '';
          width: 20px;
          height: 100%;
          position: absolute;

          background-image: url('../../images/icons/expand-icon.svg');
          background-repeat: no-repeat;
          background-position: center center;
          top: 0;
          right: 5px;
        }
      }

      &--active {
        font-weight: bold;
      }

      &:hover {
        background-color: $darkShade5;
        border-radius: 4px;
      }
    }
  }

  &__logo {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    grid-auto-columns: auto;
    align-items: center;

    &__image {
      height: 40px;
      width: 40px;

      background-image: url('../../images/icons/logo-colored.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }

    &__title {
      height: 20px;
      width: 60px;

      margin-left: 10px;

      background-image: url('../../images/icons/logo-text.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__login {
    justify-self: flex-end;
    width: fit-content;

    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;

    @media (max-width: $tablet) {
      grid-auto-flow: row;
      row-gap: 20px;
      justify-items: end;
    }
  }

  &__logged {
    height: 30px;
    border-left: 1px solid $darkShade10;
    padding-left: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__username {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade50;
  }
}