doctype html
html(lang="")
    head
        link(rel="stylesheet", href="../project/common.blocks/index.scss")
    body
        div(class="logo")
        main(class="main")
            section(class="main__section-left")
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color darkShade100-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Dark Shade 100%
                        div(class="info-block__text__description") #1F2041
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color darkShade75-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Dark Shade 75%
                        div(class="info-block__text__description") #1F2041
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color darkShade50-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Dark Shade 50%
                        div(class="info-block__text__description") #1F2041
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color darkShade25-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Dark Shade 25%
                        div(class="info-block__text__description") #1F2041
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color darkShade5-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Dark Shade 5%
                        div(class="info-block__text__description") #1F2041
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color purple-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Purple
                        div(class="info-block__text__description") #BC9CFF
                article(class="info-block info-block--c-gap40")
                    div(class="info-block__color green-bg")
                    div(class="info-block__text")
                        div(class="info-block__text__header") Green
                        div(class="info-block__text__description") #6FCF97

            section(class="section__section-right")
                article(class="info-block info-block--c-gap30")
                    div(class="info-block__shortcut")
                        h1(class="h1--light") H1
                    div(class="info-block__paragraph")
                        h1(class="h1--dark") This one is the sub-section
                            |
                            br
                            |widget title
                article(class="info-block info-block--c-gap30")
                    div(class="info-block__shortcut")
                        h2(class="h2--light") H2
                    div(class="info-block__paragraph")
                        h2(class="h2--dark") Next one is the item title inside
                            |
                            br
                            |widgets
                article(class="info-block info-block--c-gap30")
                    div(class="info-block__shortcut")
                        h3(class="h3--light") H3
                    div(class="info-block__paragraph")
                        h3(class="h3--dark") This is a label or CTA text
                article(class="info-block info-block--c-gap30")
                    div(class="info-block__shortcut") Body
                    div(class="info-block__paragraph") This is the body text which is used for most
                            br
                            |of the design, like paragraphs, lists, etc.