
mixin footer-only-description(description)
    footer(class="footer-only-description")
        div(class="footer-only-description__container")
            section(class="footer-only-description__description")
                header(class="footer-with-nav__description__logo")
                    div(class="footer-with-nav__description__logo__image")
                    div(class="footer-with-nav__description__logo__title")
                p(class="footer-with-nav__description__text")= description
                footer(class="footer-only-description__networks")
                    img(src="./images/icons/twitter.svg")
                    img(src="./images/icons/facebook.svg")
                    img(src="./images/icons/instagram.svg")