mixin like-button(options)
    -
        let id = options.id !== undefined ? options.id : ''
        let value = options.value !== undefined ? options.value : ''

    input(class="like-button" type="checkbox" id=id)&attributes(attributes)
    label(class="label" for=id) #{value}