@import "../variables";

.comment {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  height: fit-content;
  column-gap: 10px;
  row-gap: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  &__avatar {
    height: fit-content;
    & > img {
      height: 48px;
      width: 48px;
    }
  }

  &__title {
    font-weight: bold;
    color: $darkShade75;
  }

  &__header {
    grid-row: 1;
    grid-column: 2;

    display: grid;
    height: fit-content;
    align-items: center;
  }

  &__like {
    grid-row: 2;
    grid-column: 1;
    height: fit-content;
  }

  &__paragraph {
    grid-row: 2;
    grid-column: 2;
    height: fit-content;
    margin: 0;
    padding: 0;
  }
}