@import "../variables";

.label {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $darkShade50;

  height: fit-content;

  position: absolute;
  top: 0;

  &--highlight {
    font-weight: bold;
    color: $darkShade75;
  }

  &__caption {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $darkShade50;

    margin-top: 5px;
  }
}