@import "../variables";

.select {
  outline: none;
  width: 100%;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px 4px;
  display: flex;
  align-items: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $darkShade75;

  background-color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;


  &--expanded {
    display: grid;
    grid-auto-rows: auto;
    padding: 0;
    border-radius: 4px !important;
    z-index: 0;
  }

  &__button {
    background-image: url('../../../images/icons/expand-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;

    height: 42px;
    width: 44px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    background-color: $white;
    border: none;
    box-sizing: border-box;
    outline: none;

    &:hover {
      background-color: $darkShade5;
      cursor: pointer;
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    &__apply {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $purple;

      &:hover {
        cursor: pointer;
      }
    }

    &__clear {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $darkShade50;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__selected-input {
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    text-overflow: ellipsis;
    width: calc(100% - 44px);

    grid-row: 1;

    &:disabled {
      background: $white;
    }

    &::placeholder {
      color: $darkShade25;
    }
  }

  &__options {
    position: absolute;
    display: grid;
    box-sizing: content-box;
    top: 42px;
    left: -1px;
    width: 100%;
    border: 1px solid $darkShade50;
    border-radius: 0 0 4px 4px;
    grid-auto-rows: minmax(37px, auto);
    background-color: $white;
    z-index: 99;

    grid-row: 2;

    &--expanded {
      position: relative;
      left: 0;
      top: 0;
      border: none;
      border-top: 1px solid $darkShade25;
    }

    &--hidden {
      display: none;
    }

    &__item {
      display: grid;
      align-items: center;
      grid-template-columns: 5fr 1fr 1fr 1fr;
      padding-left: 15px;

      cursor: pointer;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;


      color: $darkShade100;

      &--disabled {
        color: $darkShade25 !important;
        border-color: $darkShade5 !important;
      }

      &--rich {
        &:hover {
          cursor: default;
        }
      }

      &__item {

      }

      &__subs {

      }

      &__add {
        padding-top: 2px;
      }

      &__add, &__subs {
        width: 30px;
        height: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        color: $darkShade50;
        margin: 0 auto;

        box-sizing: border-box;
        border: 1px solid $darkShade25;
        background: $white;
        outline: none;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

        &:hover {
          cursor: pointer;
        }
      }

      &__quantity {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        color: $darkShade100;
      }

      &:hover {
        background-color: $darkShade5;
      }
    }

    &:empty {
      border: none;
    }

    &--hidden {
      display: none;
    }
  }

  &--active {
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    border: 1px solid $darkShade50;
  }

  &:focus {
    border: 1px solid $darkShade50
  }

  &::placeholder {
    color: $darkShade25;
  }
}