@import "../variables";

.search-room {
  display: grid;
  padding: 20px 140px;
  grid-template-columns: minmax(auto, 270px) auto;
  column-gap: 50px;

  position: relative;

  @media (max-width: $laptop-l) {
    padding: 20px 0;
  }

  @media (max-width: $laptop) {
    column-gap: 0;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  &__pagination {
    position: absolute;
    bottom: 0;
    left: calc(50% - 255px / 2 );
    height: fit-content;
  }

  &__filter {
    display: grid;
    height: fit-content;
    row-gap: 20px;
    padding: 0 20px;

    @media (max-width: $tablet) {
      height: auto;
      background: $white;

      box-shadow: 0 10px 20px $darkShade5;
    }

    &__section {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 12px;
    row-gap: 20px;
    justify-items: center;

    padding-bottom: 50px;
  }
}