include ../h1/h1
include ../button/button

mixin login-card
    section(class="login-card")
        +h1({value: 'Войти', isDark: true})
        main(class="login-card__block")
            input(class="input" type="text" placeholder="Email")
            input(class="input" type="text" placeholder="Пароль")
        footer(class="login-card__buttons-section")
            +button('войти')(class="button--submit login-card__big-button")
            span(class="login-card__buttons-section__caption") Нет аккаунта на Toxin?
            +button('создать')(class="button--empty login-card__small-button")