include ../h1/h1
include ../input-container/input-container
include ../button/button

mixin find-room-card
    div(class="find-room-card")&attributes(attributes)
        +h1({value: 'Найдём номера под ваши пожелания', isDark: true})
        div(class="two-child-container")

            +input-container({
                header: 'прибытие'
            })(class="input-date" placeholder="ДД.ММ.ГГГГ")

            +input-container({
                header: 'выезд'
            })(class="input-date" placeholder="ДД.ММ.ГГГГ")

        +input-container({
            header: 'гости',
            isCustom: true,
            customValues: [
                'Взрослые',
                'Дети'
            ]
        })(class="select" data-placeholder="Сколько гостей" data-isrich=true)

        +button('подобрать номер')(class="button--submit")