include ../button/button

mixin order-card
    section(class="order-card")
        header(class="order-card__header")
            div(class="order-card__header__title") №
                span(class="order-card__order") 888
                    a(class="link") &nbsp;люкс
            div(class="order-card__header__caption")
                b 9990₽&nbsp;
                |в сутки
        main(class="two-child-container")
            +input-container({
                header: 'прибытие',
                isCustom: true,
                customValues: [
                    '19.08.2019',
                    '11.11.2019',
                    '11.11.2019'
                ]
            })(
                class="select"
                data-placeholder="ДД.ММ.ГГГГ"
                data-selected=0
            )

            +input-container({
                header: 'прибытие',
                isCustom: true,
                customValues: [
                    '23.08.2019',
                    '11.11.2019',
                    '11.11.2019'
                ]
            })(class="select" data-placeholder="ДД.ММ.ГГГГ" data-selected=0)

        +input-container({
            header: 'гости',
            isCustom: true,
            customValues: [
                'Взрослые',
                'Дети'
            ],
            customQuantity: [
                1, 2
            ]
        })(class="select" data-placeholder="Сколько гостей" data-isrich=true data-istotal=true data-total-val='Гостя')

        article(class="order-card__price")
            div 9 990₽ х 4 суток
            div(class="order-card__price--right") 39 960₽
        article(class="order-card__price")
            div(class='order-card__price--info') Сбор за услуги: скидка 2 179₽
            div(class="order-card__price--right") 0₽
        article(class="order-card__price")
            div(class='order-card__price--info') Сбор за дополнительные услуги
            div(class="order-card__price--right") 300₽
        article(class="order-card__price order-card__price--header")
            div(class="order-card__price__summary") Итого
            div(class="order-card__price__summary__space")
            div(class="order-card__price__summary__right") 38 081₽
        +button('Забронировать')(class="button--submit")