@import "../variables";

.link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  text-decoration: none;


  &:hover {
    color: $darkShade50;
    cursor: pointer;
  }
}