@import 'variables';

.info-block {
  height: 70px;
  display: grid;
  grid-template-columns: 70px auto;
  margin-bottom: 20px;

  &--c-gap40 {
    column-gap: 40px;
  }

  &--c-gap30 {
    column-gap: 30px;
  }

  &__color {
    width: 70px;
    height: 100%;
    border-radius: 6px;
  }

  &__shortcut {
    padding-top: 5px;
    height: 100%;
    color: $darkShade25;
    text-align: right;
  }

  &__paragraph {
    display: flex;
    align-items: center;
  }

  &__text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 57px;
    margin: auto 0;
    text-align: left;
    font-family: Quicksand;
    color: $darkShade100;
    font-style: normal;
    font-size: 19px;

    &__header {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    &__description {
      display: flex;
      align-items: center;
      font-weight: 400;
    }
  }
}